*{
    box-sizing: border-box;
}

 
body {
    background-color: #ccc;
    background-image: url("/img/lightgreentexture.jpg");
    background-size: 250px;
    background-repeat: repeat;
}
h1 {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-align: left;
    font-size: 50px;
    color: black;
}
h2 {
    font-family:Lucida Grande, sans-serif;
    font-size: 40px;
    color: blue;
}
p {
    font-family: arial;
    font-size: 16px;
    line-height:24px;
}
img {
    border: 5px solid #cccccc;
        margin: 0 5% 0 5%;
        padding: 5 %; /* TRouBLE */
}
nav {
        background-color: #000014;
        text-align: center;
        font-family: Lucida Grande, sans-serif;
        font-size: 24px;
}
nav a {
    text-decoration: none;
}
nav a:link {
    color: #E9E9FF;
}
nav a:visited {
    color: #0066FF ;
}
nav a:focus {
    color: #81F7F3;
}
nav a:hover {
    color: #81F7F3;
}
nav a:active {
    color: #0040FF;
}

.leftcolumn {
        margin: 0 auto 0 auto;
        float: left;
        height: 1500px;
        width: 584px;
        text-align: left;
        vertical-align: text-top;
        border-right: 6px solid #04B45F;
}
.rightcolumn {
        margin: 0 0 0 600px;
        height: 1500px;
        width: 384px;
        text-align: left;
        vertical-align: text-top;
}
.portres {
    text-align: center;
    font-size: 50px
}
#homebanner {
    margin-left: auto;
    margin-right: auto;
}
#bottomlinks {
        font-size: 18px;
}

