*{
    box-sizing: border-box;
}

 
 
body {
    background-color: #ccc;
    background-image: url("/img/lightgreentexture.jpg");
    background-size: 250px;
    background-repeat: repeat;
 }
h1 {
    background-image: url("/img/j.gif");
    background-size: 100% 100%;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-align: left;
		padding-left:20px;
    height: 80px;
    font-size: 50px;
    color: black;
}
h2 {
    font-family:Lucida Grande, sans-serif;
    font-size: 40px;
    color: blue;
}
p {
    font-family: arial;
    font-size: 16px;
    line-height:24px;
}
nav {
        background-color: #000014;
        text-align: center;
        font-family: Lucida Grande, sans-serif;
        font-size: 24px;
}
nav a {
    text-decoration: none;
}
nav a:link {
    color: #E9E9FF;
}
nav a:visited {
    color: #0066FF ;
}
nav a:focus {
    color: #81F7F3;
}
nav a:hover {
    color: #81F7F3;
}
nav a:active {
    color: #0040FF;
}
.captionphoto {
    margin: 50px auto 0 auto;
    text-align: center;
}
.leftcolumn {
        margin: 0 50% 0 10%;
        text-align: left;
				width: 40%;
        padding-right: 5%;
        vertical-align: text-top;
        border-right: 6px solid #04B45F;
}

.rightcolumn {
  width:40%;
	float:right;
	position:relative;
}
.center {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}
.fullsize {
    width: 100%;
    height: 100%;
}
.halfsize {
    width: 40%;
    height: 40%;
}
.tablesize {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
.photocell {
    border: 10px solid #000000;
    border-radius: 25px;
    width: 30%;
    text-align: center;
    padding: 1% 1% 1% 1%;
}
.portres {
    text-align: center;
    font-size: 50px
}
#content {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#homebanner {
    margin-left: auto;
    margin-right: auto;           
}
#bottomlinks {
    font-size: 18px;
}
#phototable {
    width: 100%;
    border: 10px solid #04B45F;
    border-radius: 25px;
}
	


